<h1> <%= @user.firstname %> <%= @user.lastname %></h1>


    <h2>Contacts:</h2>
    <% @user.contacts.each do |i| %>

     <h4>
    <li>
        <%= i.kind %> :
        <%= i.value%><br>
    </h4> 
    </li>   
    <% end %>
    

<%= console %>